<div class="container">
    <form [formGroup]="registerForm" (submit)="register()">
        <label for="user-name" class="my-2">User Name</label>
        <input type="text" placeholder="Name..." class="form-control" name="" id="user-name" formControlName="name">
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('name')?.getError('required')">User Name is Required</p>
            <p *ngIf="registerForm.get('name')?.getError('pattern')">User Name Must Start With Uppercase</p>
            <p *ngIf="registerForm.get('name')?.getError('minlength')">Min length 3</p>
            <p *ngIf="registerForm.get('name')?.getError('maxlength')">max length 20</p>
        </div>


        <label for="email" class="my-2">E-mail</label>
        <input type="email" placeholder="E-mail..." class="form-control" name="" id="email" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
            class="alert alert-danger">
            <p *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
            <p *ngIf="registerForm.get('email')?.getError('email')">Enter Valid Email</p>
        </div>

        <label for="password" class="my-2">Password</label>
        <input (keyup)="matchRepassword()" type="password" placeholder="Password..." class="form-control" name="" id="password"
            formControlName="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
            class="alert alert-danger">
            <p *ngIf="registerForm.get('password')?.getError('required')">Password is required</p>
            <p *ngIf="registerForm.get('password')?.getError('pattern')">Minimum eight characters, at least one upper
                case English letter, one lower case English letter, one number and one special character</p>
        </div>

        <label for="re-password" class="my-2">rePassword</label>
        <input (focus)="matchRepassword()" (keyup)="matchRepassword()" type="password" placeholder="Re-Password..." class="form-control" name="" id="re-password"
            formControlName="rePassword">
        <div  *ngIf="!rePasswordIsValid && registerForm.get('rePassword')?.touched" class="alert alert-danger">
            <p>Password is not matched</p>
        </div>

        <label for="phone" class="my-2">Phone</label>
        <input type="text" placeholder="Phone..." class="form-control" name="" id="phone" formControlName="phone">
        <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('phone')?.getError('required')">phone is required</p>
            <p *ngIf="registerForm.get('phone')?.getError('pattern')">Enter Valid Egyptio Number</p>
        </div>

        <button [disabled]="registerForm.status == 'INVALID'" type="submit" class="btn btn-outline-info ms-auto d-block my-2">Register</button>
    </form>
</div>